@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
body {
    background-color: whitesmoke ;
}
.name {
    color:silver;
    font-family: 'Ephesis', cursive;
}
.img_header {
    width: 300px;
    height: 450px;
    border: 10px solid silver;
    border-radius: 100%;
    
}

.ssilka {
    color: silver;
}

.ssilka_a {
    color: rgb(231, 118, 118);

}
